@model MVCDemo.Models.Instructor

<h2>Instructor Details</h2>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Name</dt>
        <dd class = "col-sm-10">@Model.Name</dd>

        <dt class = "col-sm-2">Image</dt>
        <dd class = "col-sm-10"><img src="@Model.Image" alt="Instructor Image" width="100" /></dd>

        <dt class = "col-sm-2">Salary</dt>
        <dd class = "col-sm-10">@Model.Salary.ToString("C")</dd>

        <dt class = "col-sm-2">Address</dt>
        <dd class = "col-sm-10">@Model.Address</dd>

        <dt class = "col-sm-2">Department</dt>
        <dd class = "col-sm-10">@Model.Department.Name</dd>

        <dt class = "col-sm-2">Course</dt>
        <dd class = "col-sm-10">@Model.Course.Name</dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
